/*Main page background image*/
#bg {
    position: fixed;
    top: 0;
    left: 0;

    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}
.container{
    position: relative;
}
.container #bg{
    filter:blur(3px);
}

/*Main Page Card modifications*/
#cards1{
    padding-top: 75%;
}
#cards2{
    padding-top: 25px;
}

/*Main Page Card Labels*/
.row h1{
    color: white;
    border: 3px solid white;
    background: rgba(0,0,0,0.4);
}

/*Main Page Title Modifications*/
.text{
    position:absolute;
    top:600px;
    color: white;
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 150px;
    padding-top: 50px;
    text-align: center;
    border: 3px solid white;
}


/*Gallery Jumbotron Modifications*/
.jumbotron{
    background-image: url("https://images.squarespace-cdn.com/content/v1/57879a6cbebafb879f256735/1579721909133-R2KSZ8VGDGBI90DYATBK/header4.jpg");
    background-size: cover;
    height: 650px;
    padding-bottom: 25px;
    /*filter: blur(3px);*/
}
.stopBlur{
    color: white;
    background: rgba(0,0,0,0.5);
    border: 3px solid white;
    height: 300px;
    padding-top: 60px;
}

/*Gallery Carousel Modifications*/
.carousel-inner img{
    margin: auto;

}
.carousel-control-next, .carousel-control-prev{
    background:black;
}

/*Gallery Image Modifications*/
#img1, #img2, #img3{
    padding-left: 185px;
    padding-top:70px;
    margin:auto;
}

